@keyframes appearance {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes spinner {
  0%, 98% {
    opacity: 0.95;
    z-index: 2;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -5;
  }
}
@keyframes spinner-color {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Shrikhand";
  font-size: 1.6rem;
}

h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.2rem;
}

h3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 0.8rem;
  color: black;
}

h4, li {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.8rem;
  color: white;
}

h5 {
  font-family: "Shrikhand";
  font-size: 0.8rem;
  font-weight: normal;
  color: white;
}

h6 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 0.9rem;
}

p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.7rem;
  color: black;
}

.components__button {
  width: 11rem;
  height: 2.5rem;
  margin: 1.5rem 0 2rem 0;
  background: linear-gradient(to left top, #9356DC, 60%, #FF79DA);
  border-radius: 2rem;
  box-shadow: 0 0.2rem 0.3rem #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.components__button:hover {
  background: linear-gradient(to left top, #a16be0, 60%, #ff93e1);
  box-shadow: 0 0.2rem 0.3rem #aaaaaa;
}

.components__card__menu {
  height: 3rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.3rem #d1d1d1;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 1.1rem;
  animation: appearance 600ms backwards ease-out;
}
.components__card__menu--1 {
  animation-delay: 100ms;
}
.components__card__menu--2 {
  animation-delay: 200ms;
}
.components__card__menu--3 {
  animation-delay: 300ms;
}
.components__card__menu--4 {
  animation-delay: 400ms;
}
.components__card__menu--5 {
  animation-delay: 500ms;
}
.components__card__menu--6 {
  animation-delay: 600ms;
}
.components__card__menu--7 {
  animation-delay: 700ms;
}
.components__card__menu--8 {
  animation-delay: 800ms;
}
.components__card__menu--9 {
  animation-delay: 900ms;
}
.components__card__menu--10 {
  animation-delay: 1000ms;
}
.components__card__menu:hover .components__card__checkCircle {
  width: 70px;
}
.components__card__menu:hover .components__card__checkCircle .fa-check-circle {
  transform: rotate(360deg);
}

.components__card__checkCircle {
  width: 0px;
  overflow: hidden;
  height: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
  color: white;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: right;
  transition: width 300ms ease-in-out;
}

.fa-check-circle {
  transform: rotate(0deg);
  transition: transform 500ms;
}

.components__heart--outline {
  font-size: 1.2rem;
  color: #353535;
  position: absolute;
  right: 10vw;
  padding: 0.5rem;
  z-index: 1;
  opacity: 1;
  transition: opacity 500ms;
}
.components__heart--outline:hover {
  opacity: 0;
}
.components__heart--outline:hover + .components__heart--gradient {
  opacity: 1;
}

.components__heart--gradient {
  font-size: 1.2rem;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  right: 10vw;
  padding: 0.5rem;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  padding-top: 1rem;
}
.header__return {
  color: black;
  position: absolute;
  left: 5vw;
}

.presentationSection__searchBlock {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  background-color: #eaeaea;
  box-shadow: inset 0 0.1rem 0.2rem #b7b7b7;
}
.presentationSection__searchBlock > i {
  padding: 0 0.5rem;
}
.presentationSection__descriptionBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  text-align: center;
  background-color: #f6f6f6;
}
.presentationSection__descriptionBlock__title {
  margin: 0 1rem;
  padding: 2rem 2rem 0 2rem;
}
.presentationSection__descriptionBlock__text {
  margin: 0 1rem;
  padding-top: 1rem;
}

.guidelineSection__title {
  margin: 0 1rem;
  padding: 2rem 0 1rem 0;
}
.guidelineSection__steps {
  margin: 0 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  text-align: center;
}
.guidelineSection__steps__card {
  width: 95%;
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.3rem #d1d1d1;
  background-color: #f6f6f6;
}
.guidelineSection__steps__card__number {
  width: 1.1rem;
  height: 1.1rem;
  margin: 1rem 0;
  background-color: #9356DC;
  border-radius: 1rem;
  font-size: 0.6rem;
  line-height: 1.1rem;
  position: absolute;
  left: 4%;
}
.guidelineSection__steps__card__text {
  padding: 1rem 0;
  text-align: left;
}
.guidelineSection__steps__card__text .fas {
  color: #828282;
}
.guidelineSection__steps__card__text .fa-mobile-alt {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 1rem;
}
.guidelineSection__steps__card__text .fa-ellipsis-v {
  padding-left: 1.5rem;
  font-size: 0.7rem;
}
.guidelineSection__steps__card__text .fa-bars {
  padding-left: 0.1rem;
  padding-right: 1.3rem;
  font-size: 0.7rem;
}
.guidelineSection__steps__card__text .fa-store {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.8rem;
}
.guidelineSection__steps__card__text:hover > .fas {
  color: #9356DC;
}
.guidelineSection__steps__card:hover {
  background-color: #f2eafb;
}

.restaurantSection {
  background-color: #f6f6f6;
}
.restaurantSection__title {
  margin: 0 1rem;
  padding: 2rem 0 1rem 0;
}
.restaurantSection__result {
  margin: 0 1rem;
  padding-bottom: 2rem;
}
.restaurantSection__result a {
  text-decoration: none;
}
.restaurantSection__result__card {
  margin-bottom: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.2rem 0.3rem #d1d1d1;
}
.restaurantSection__result__card__new {
  margin-top: 0.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.1rem;
  position: absolute;
  right: 8vw;
  font-size: 0.6rem;
  color: #278870;
  background-color: #99E2D0;
}
.restaurantSection__result__card__img {
  width: 100%;
  height: 9rem;
  object-fit: cover;
  object-position: 10% 62%;
  border-radius: 0.9rem 0.9rem 0 0;
}
.restaurantSection__result__card__text {
  padding: 0.5rem;
  line-height: 1.5;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  text-decoration: none;
}

.menuSection {
  margin-bottom: -60px;
}
.menuSection__image {
  width: 100vw;
}
.menuSection__menu {
  width: 100vw;
  padding-bottom: 1rem;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  top: -60px;
  display: flex;
  flex-direction: column;
}
.menuSection__menu__title {
  margin: 0 1rem;
  padding-top: 1rem;
}
.menuSection__menu__title h5 {
  color: black;
  font-size: 1.2rem;
}
.menuSection__menu__dishes {
  margin: 0 1rem;
  margin-top: 1.5rem;
}
.menuSection__menu__dishes > p {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}
.menuSection__menu__dishes > hr {
  width: 2rem;
  height: 0.2rem;
  margin-bottom: 1rem;
  background-color: #99E2D0;
  border: none;
}
.menuSection__menu__dishes__name {
  width: 85%;
  padding: 0.3rem 0.5rem;
  overflow: hidden;
}
.menuSection__menu__dishes__name > h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuSection__menu__dishes__name > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuSection__menu__dishes__price {
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
  align-self: flex-end;
}

.footer {
  background-color: #353535;
}
.footer__block {
  margin: 0 1rem;
  padding: 1rem 0;
}
.footer__block ul {
  list-style-type: none;
  padding-top: 0.5rem;
}
.footer__block ul li {
  font-size: 0.7rem;
  line-height: 1.2rem;
}
.footer__block ul li a {
  color: white;
  text-decoration: none;
}
.footer__block ul li i {
  font-size: 0.5rem;
  padding-right: 0.5rem;
}

.spinner {
  background-color: #f2eafb;
  width: 100vw;
  height: 100%;
  position: absolute;
  opacity: 0.95;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: spinner 3000ms forwards;
}
.spinner__baseSpin {
  color: #d7c0f2;
}
.spinner__colorSpin {
  color: #99E2D0;
  animation: spinner-color both;
}

.spin--square {
  font-size: 1.6rem;
  background-color: #9356DC;
  width: 3rem;
  height: 3rem;
  padding: 0.7rem;
  text-align: center;
  border-radius: 0.5rem;
  position: absolute;
  top: 300px;
}

.spin--circle {
  font-size: 0.7rem;
  position: absolute;
  top: 323px;
}

.spin--1 {
  animation-delay: 300ms;
}
.spin--2 {
  animation-delay: 600ms;
}
.spin--3 {
  animation-delay: 900ms;
}
.spin--4 {
  animation-delay: 1200ms;
}
.spin--5 {
  animation-delay: 1500ms;
}
.spin--6 {
  animation-delay: 1800ms;
}
.spin--7 {
  animation-delay: 2100ms;
}
.spin--8 {
  animation-delay: 2400ms;
}
.spin--9 {
  animation-delay: 2700ms;
}
.spin--1 {
  left: 3%;
}
.spin--2 {
  left: 10%;
}
.spin--3 {
  left: 28%;
}
.spin--4 {
  left: 35%;
}
.spin--5 {
  left: 42%;
}
.spin--6 {
  left: 60%;
}
.spin--7 {
  left: 67%;
}
.spin--8 {
  left: 74%;
}
.spin--9 {
  left: 92%;
}

/*# sourceMappingURL=style.css.map */
