.footer {
    background-color: $color-darkBack;

    &__block {
        @include mainMargin;
        padding: 1rem 0;

        & ul {
            list-style-type: none;
            padding-top: 0.5rem;

            @media screen and (min-width: $break-tablet) {
                display: flex;
                justify-content: space-between;                
            }

            & li {
                font-size: 0.7rem;
                line-height: 1.2rem;
                
                & a {
                    color: white;
                    text-decoration: none;
                }

                & i {
                    font-size: 0.5rem;
                    padding-right: 0.5rem;
                }
            }
        }        
    }
}