.footer {
    background-color: $color-darkBack;

    &__block {
        @include mainMargin;
        padding: 1rem 0;

        & ul {
            list-style-type: none;
            padding-top: 0.5rem;

            & li {
                font-size: 0.7rem;
                line-height: 1.2rem;

                & i {
                    font-size: 0.5rem;
                    padding-right: 0.5rem;
                }
            }
        }        
    }
}