.guidelineSection {

    &__title {
        @include mainMargin;
        padding: 2rem 0 1rem 0;
        @media screen and (min-width:$break-large) {
            max-width: 1150px;
            margin: auto;            
        }
    }

    &__steps {
        @include mainMargin;
        padding-bottom: 2rem;
        @include flexColumn;

        @media screen and (min-width: $break-tablet)  {
            flex-direction: row;
            justify-content: space-between;            
        }
        @media screen and (min-width: $break-medium)  {
            justify-content: space-around;            
        }
        @media screen and (min-width:$break-large) {
            max-width: 1150px;
            margin: auto;            
        }

        &__card {
            width: 95%;
            margin-bottom: 1rem;  
            border-radius: 1rem;
            @include shadow;
            background-color: $color-lightBack;

            @media screen and (min-width: $break-tablet)  {
                width: 31%;       
            }
            @media screen and (min-width: $break-medium)  {
                width: 29%;       
            }

            &__number {
                width: 1.1rem;
                height: 1.1rem;
                margin: 1rem 0;
                background-color: $color-primary;
                border-radius: 1rem;
                font-size: 0.6rem;
                line-height: 1.1rem;
                position: relative;
                float: left;
                left: -4%;           
            }

            &__text {                
                padding: 1rem 0;
                text-align: left;

                & .fas {
                    color: lighten($color-darkBack, 30%);
                }
                & .fa-mobile-alt {
                    font-size: 1rem;
                }
                & .fa-ellipsis-v {
                    font-size: 0.7rem;
                }
                & .fa-bars {
                    padding-left: 0.1rem;
                    font-size: 0.7rem;
                }
                & .fa-store {
                    font-size: 0.8rem;
                }
                & .fa-padding--left {
                    padding-left: 0.5rem;
                    @media screen and (min-width: $break-tablet) and (max-width: $break-medium) {
                        padding-left: 0;
                    }
                }
                & .fa-padding--right {
                    padding-right: 1rem;
                    @media screen and (min-width: $break-tablet) and (max-width: $break-medium) {
                        padding-right: 0.4rem;                        
                    }
                    @media screen and (min-width: $break-medium) {
                        padding-right: 1.5rem;                        
                    }
                }

                &:hover > .fas{
                    color: $color-primary;
                }
            }
            
            &:hover {
                background-color: lighten($color-primary, 35%);
            }

        }
    }
}