.restaurantSection {
    background-color: $color-lightBack;

    &__title {
        @include mainMargin;
        padding: 2rem 0 1rem 0;
    }

    &__result {
        @include mainMargin;
        padding-bottom: 2rem;

        & a {
            text-decoration: none;
        }

        &__card {
            margin-bottom: 1rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            @include shadow;

            &__new {
                margin-top: 0.5rem;
                padding: 0.3rem 0.5rem;
                border-radius: 0.1rem;
                position: absolute;
                right: 8vw;
                font-size: 0.6rem;
                color: darken($color-tertiary, 40%);
                background-color: $color-tertiary;
            }

            &__img {
                width: 100%;
                height: 9rem;
                object-fit: cover;
                object-position: 10% 62%;
                border-radius: 0.9rem 0.9rem 0 0;
            }

            &__text {
                padding: 0.5rem;
                line-height: 1.5;
                background-color: white;
                border-radius: 0 0 1rem 1rem;
                text-decoration: none;
            }
        }
    }
}