.guidelineSection {

    &__title {
        @include mainMargin;
        padding: 2rem 0 1rem 0;
    }

    &__steps {
        @include mainMargin;
        padding-bottom: 2rem;
        @include flexColumn;

        &__card {
            width: 95%;
            margin-bottom: 1rem;  
            border-radius: 1rem;
            @include shadow;
            background-color: $color-lightBack;

            &__number {
                width: 1.1rem;
                height: 1.1rem;
                margin: 1rem 0;
                background-color: $color-primary;
                border-radius: 1rem;
                font-size: 0.6rem;
                line-height: 1.1rem;
                position: absolute;
                left: 4%;  
            }

            &__text {                
                padding: 1rem 0;
                text-align: left;

                & .fas {
                    color: lighten($color-darkBack, 30%);
                }
                & .fa-mobile-alt {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    font-size: 1rem;
                }
                & .fa-ellipsis-v {
                    padding-left: 1.5rem;
                    font-size: 0.7rem;
                }
                & .fa-bars {
                    padding-left: 0.1rem;
                    padding-right: 1.3rem;
                    font-size: 0.7rem;
                }
                & .fa-store {
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                    font-size: 0.8rem;
                }

                &:hover > .fas{
                    color: $color-primary;
                }
            }
            
            &:hover {
                background-color: lighten($color-primary, 35%);
            }

        }
    }
}