.presentationSection {
    
    &__searchBlock {        
        height: 2.5rem;
        @include flexRow;
        background-color: $color-mediumBack;
        box-shadow: inset 0 0.1rem 0.2rem darken($color-mediumBack, 20%);

        & > i {
            padding: 0 0.5rem;
        }
    }

    &__descriptionBlock {        
        @include flexColumn;
        background-color: $color-lightBack;

        &__title {
            @include mainMargin;
            padding: 2rem 2rem 0 2rem;
        }

        &__text {
            @include mainMargin;
            padding-top: 1rem;
        }
    }
}