.menuSection {
    margin-bottom: -60px;    
    @media screen and (min-width: $break-tablet) {
        margin-bottom: -100px;        
    }
    @media screen and (min-width: $break-medium) {
        margin-bottom: -160px;        
    }

    &__image {
        width: 100vw;
    }

    &__menu {
        width: 100vw;
        padding-bottom: 1rem;
        background-color: $color-lightBack;
        border-radius: 2rem 2rem 0 0;
        position: relative;
        top: -60px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $break-tablet) and (max-width: $break-medium) {
            top: -100px;
        }
        @media screen and (min-width: $break-medium) {
            top: -160px;        
        }

        &__title {
            @include mainMargin;
            padding-top: 1rem;            

            & h5 {
                color: black; 
                font-size: 1.2rem;
            }            
        }

        &__dishes {
            @include mainMargin;
            margin-top: 1.5rem;

            &--responsiveBlock {
                @media screen and (min-width: $break-tablet) {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;                    
                }
            }

            & > p {
                font-size: 0.8rem;
                margin-bottom: 0.3rem;
            }

            & > hr {
                width: 2rem;
                height: 0.2rem;
                margin-bottom: 1rem;
                background-color: $color-tertiary;
                border: none;
            }

            &__name {
                width: 85%;
                padding: 0.3rem 0.5rem;
                overflow: hidden;
                
                & > h3 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                & > p {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            &__price {
                padding: 0.3rem 0.5rem;
                font-size: 0.7rem;
                align-self: flex-end;
            }
        }
    }
}