.spinner {
    background-color: lighten($color-primary, 35%);
    width: 100vw;
    height: 100%;
    position: fixed;
    opacity: 0.95;
    display: flex;
    justify-content: space-around;
    align-items: center;

    animation: spinner 3000ms forwards;

    &__baseSpin {
        color: lighten($color-primary, 25%);
    }

    &__colorSpin {
        color: $color-tertiary;   
        animation: spinner-color both;
    }
}

.spin--square {    
    font-size: 1.6rem;
    background-color: $color-primary;
    width: 3rem;
    height: 3rem;
    padding: 0.7rem;
    text-align: center;
    border-radius: 0.5rem;
    position: absolute;
    top: 300px;
}

.spin--circle {
    font-size: 0.7rem;
    position: absolute;
    top: 323px;
}

.spin {
    @for $i from 1 to 10 {
        &--#{$i} {
            animation-delay: $i * 300ms;
        }
    }
    &--1 {
        left: 3%;
    }
    &--2 {
        left: 10%;
    }
    &--3 {
        left: 28%;
    }
    &--4 {
        left: 35%;
    }
    &--5 {
        left: 42%;
    }
    &--6 {
        left: 60%;
    }
    &--7 {
        left: 67%;
    }
    &--8 {
        left: 74%;
    }
    &--9 {
        left: 92%;
    }
}

