.components__card__menu {
    height: 3rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
    @include shadow;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 1.1rem;

    &:hover .components__card__checkCircle {
        width: 70px;        
        
        & .fa-check-circle {
            transform: rotate(360deg);
        }
    }
}

.components__card__checkCircle {
    width: 0px;
    overflow: hidden;
    height: 100%;
    border-radius: 0 0.5rem 0.5rem 0;
    color: white;
    background-color: $color-tertiary;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: right;
    transition: width 300ms;
}

.fa-check-circle {
    transform: rotate(0deg);
    transition: transform 500ms;
}