.components__heart--outline {
    font-size: 1.2rem;
    color: $color-darkBack;
    position: absolute;
    right: 10vw;
    padding: 0.5rem;
    z-index: 1;
    opacity: 1;
    transition: opacity 500ms;

    &:hover {
        opacity: 0;

        & + .components__heart--gradient {
            opacity: 1;
        }
    }
}

.components__heart--gradient {
    font-size: 1.2rem;
    background: linear-gradient($color-primary, $color-secondary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: absolute;
    right: 10vw;
    padding: 0.5rem;
    z-index: 0;
    opacity: 0;
    transition: opacity 500ms;
}