h1 {
    font-family: "Shrikhand";
    font-size: 3.2rem;
}

h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 2.4rem;
}

h3 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.6rem;
    color: black;
}

h4, li {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.6rem;
    color: white;
}

h5 {
    font-family: "Shrikhand";
    font-size: 1.6rem;
    font-weight: normal;
    color: white;
}

h6 {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 1.8rem;
}

p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.4rem;
    color: black;
}

