h1 {
    font-family: "Shrikhand";
    font-size: 1.6rem;
}

h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1.2rem;
}

h3 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 0.8rem;
}

h4 {
    font-family: "Shrikhand";
    font-size: 1.2rem;
}

p{
    font-family: "Roboto";
    font-weight: 100;
    font-size: 0.9rem;
}

i {
    padding: 0 0.5rem;
}