h1 {
    font-family: "Shrikhand";
    font-size: 1.6rem;
}

h2 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 1.2rem;
}

h3 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 0.8rem;
}

h4, li {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.8rem;
    color: white;
}

h5 {
    font-family: "Shrikhand";
    font-size: 0.8rem;
    color: white;
}

h6 {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 0.9rem;
}

p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 0.7rem;
}

