$color-primary: #9356DC;
$color-secondary: #FF79DA; 
$color-tertiary: #99E2D0;
$color-lightBack: #f6f6f6;
$color-mediumBack: #eaeaea;
$color-darkBack: #353535;

$heart-shadow: 1px;

$break-large: 1200px;
$break-medium: 1023px;
$break-tablet: 768px;

